<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bookshop.My.MySettings.BookshopConnectionString" connectionString="Data Source=DESKTOP-ST13543\SQLEXPRESS01;Initial Catalog=Bookshop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bookshop.My.MySettings.bookshopConnectionString1"
            connectionString="Data Source=344_22\SQLEXPRESS;Initial Catalog=bookshop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>